@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$yellow-palette,
  ),
  typography: (
    brand-family: 'Source Sans 3',
    plain-family: 'Source Sans 3',
    bold-weight: 600,
    medium-weight: 500,
    regular-weight: 400,
  ),
  density: (
    scale: 0,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$yellow-palette,
  ),
  typography: (
    brand-family: 'Source Sans 3',
    plain-family: 'Source Sans 3',
    bold-weight: 600,
    medium-weight: 500,
    regular-weight: 400,
  ),
  density: (
    scale: 0,
  ),
));

@include mat.all-component-themes($light-theme);

.dark {
  @include mat.all-component-colors($dark-theme);
}
